/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
pre {
  line-height: 125%;
  margin: 0;
}

td.linenos pre {
  color: #93a1a1;
  background-color: #eee8d5;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos {
  color: #93a1a1;
  background-color: #eee8d5;
  padding-left: 5px;
  padding-right: 5px;
}

td.linenos pre.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

.highlight .hll {
  background-color: #eee8d5;
}

.highlight {
  background: #fdf6e3;
  color: #657b83;
}

.highlight .c {
  color: #93a1a1;
  font-style: italic;
}

/* Comment */
.highlight .err {
  color: #657b83;
  background-color: #dc322f;
}

/* Error */
.highlight .esc {
  color: #657b83;
}

/* Escape */
.highlight .g {
  color: #657b83;
}

/* Generic */
.highlight .k {
  color: #859900;
}

/* Keyword */
.highlight .l {
  color: #657b83;
}

/* Literal */
.highlight .n {
  color: #657b83;
}

/* Name */
.highlight .o {
  color: #93a1a1;
}

/* Operator */
.highlight .x {
  color: #657b83;
}

/* Other */
.highlight .p {
  color: #657b83;
}

/* Punctuation */
.highlight .ch {
  color: #93a1a1;
  font-style: italic;
}

/* Comment.Hashbang */
.highlight .cm {
  color: #93a1a1;
  font-style: italic;
}

/* Comment.Multiline */
.highlight .cp {
  color: #d33682;
}

/* Comment.Preproc */
.highlight .cpf {
  color: #93a1a1;
}

/* Comment.PreprocFile */
.highlight .c1 {
  color: #93a1a1;
  font-style: italic;
}

/* Comment.Single */
.highlight .cs {
  color: #93a1a1;
  font-style: italic;
}

/* Comment.Special */
.highlight .gd {
  color: #dc322f;
}

/* Generic.Deleted */
.highlight .ge {
  color: #657b83;
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #dc322f;
}

/* Generic.Error */
.highlight .gh {
  color: #657b83;
  font-weight: bold;
}

/* Generic.Heading */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
.highlight .go {
  color: #657b83;
}

/* Generic.Output */
.highlight .gp {
  color: #657b83;
}

/* Generic.Prompt */
.highlight .gs {
  color: #657b83;
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  color: #657b83;
  text-decoration: underline;
}

/* Generic.Subheading */
.highlight .gt {
  color: #268bd2;
}

/* Generic.Traceback */
.highlight .kc {
  color: #2aa198;
}

/* Keyword.Constant */
.highlight .kd {
  color: #2aa198;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #cb4b16;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #859900;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #b58900;
}

/* Keyword.Type */
.highlight .ld {
  color: #657b83;
}

/* Literal.Date */
.highlight .m {
  color: #2aa198;
}

/* Literal.Number */
.highlight .s {
  color: #2aa198;
}

/* Literal.String */
.highlight .na {
  color: #657b83;
}

/* Name.Attribute */
.highlight .nb {
  color: #268bd2;
}

/* Name.Builtin */
.highlight .nc {
  color: #268bd2;
}

/* Name.Class */
.highlight .no {
  color: #268bd2;
}

/* Name.Constant */
.highlight .nd {
  color: #268bd2;
}

/* Name.Decorator */
.highlight .ni {
  color: #268bd2;
}

/* Name.Entity */
.highlight .ne {
  color: #268bd2;
}

/* Name.Exception */
.highlight .nf {
  color: #268bd2;
}

/* Name.Function */
.highlight .nl {
  color: #268bd2;
}

/* Name.Label */
.highlight .nn {
  color: #268bd2;
}

/* Name.Namespace */
.highlight .nx {
  color: #657b83;
}

/* Name.Other */
.highlight .py {
  color: #657b83;
}

/* Name.Property */
.highlight .nt {
  color: #268bd2;
}

/* Name.Tag */
.highlight .nv {
  color: #268bd2;
}

/* Name.Variable */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
.highlight .w {
  color: #657b83;
}

/* Text.Whitespace */
.highlight .mb {
  color: #2aa198;
}

/* Literal.Number.Bin */
.highlight .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
.highlight .sa {
  color: #2aa198;
}

/* Literal.String.Affix */
.highlight .sb {
  color: #2aa198;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198;
}

/* Literal.String.Char */
.highlight .dl {
  color: #2aa198;
}

/* Literal.String.Delimiter */
.highlight .sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
.highlight .se {
  color: #2aa198;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #2aa198;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198;
}

/* Literal.String.Other */
.highlight .sr {
  color: #cb4b16;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #268bd2;
}

/* Name.Function.Magic */
.highlight .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
.highlight .vm {
  color: #268bd2;
}

/* Name.Variable.Magic */
.highlight .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
:root {
  /*
   * THEME: GRUVBOX
   * URL: https://github.com/morhetz/gruvbox
   */
}

/**
* THEME: EVERFOREST
* URL: https://github.com/sainnhe/everforest
*/
body {
  background: #fdf6e3;
  color: #5c6a72;
  line-height: 1.6;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #8da101;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h2,
h3 {
  padding-top: 1rem;
  font-size: 1rem;
}

h4,
h5 {
  font-size: 1rem;
}

p,
pre {
  margin-bottom: 1.5rem;
}

a {
  color: #3a94c5;
}
a:hover {
  color: #61a9d1;
}
a:before {
  content: "[";
  color: #5c6a72;
}
a:after {
  content: "]";
  color: #5c6a72;
}

hr {
  max-width: 910px;
  color: #35a77c;
  margin: 2rem auto 2rem auto;
  padding: 0 1rem;
}

ul {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 1.5rem;
}
ul li:before {
  content: "*";
  color: #f85552;
  margin-right: 0.5rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 1.5rem;
}

ul, ol {
  color: #8da101;
  font-size: 1rem;
  padding-left: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 0;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid #5c6a72;
}
table td,
table th {
  border: 1px solid #5c6a72;
  padding: 0.5rem;
}
table tr:first-child th {
  border-top-style: solid;
}
table tr td:first-child,
table tr th:first-child {
  border-left-style: solid;
}
table tr:nth-child(odd) td {
  background: #efebd4;
}

.highlight {
  background-color: #f4f0d9;
}
.highlight * {
  background-color: #f4f0d9 !important;
}
.highlight .ln {
  margin-right: 1rem;
}

code {
  color: #f57d26;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid #3a94c5;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  max-width: 910px;
  margin: 0 auto 3rem auto;
}

.page-title {
  margin-bottom: 0;
}

.main-nav {
  display: flex;
  justify-content: end;
  column-gap: 0.5rem;
}
.main-nav__item {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  color: #f57d26;
}
.main-nav__item:hover {
  color: #f79a57;
}

.container {
  max-width: 910px;
  margin: 0 auto;
  padding: 0 1rem;
}

.introduction__title {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #5c6a72;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
}

.post__title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.post__title a {
  color: #5c6a72;
  text-decoration: none;
  position: relative;
}
.post__title a:hover {
  text-decoration: underline;
}
.post__title a:before, .post__title a:after {
  content: "";
}
.post__title a .hashtag {
  color: #f85552;
}
.post__title a .date {
  color: #8da101;
}

.post__categories {
  list-style: none;
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 0;
}

.post__categories-item {
  font-size: 14px;
  padding: 0.1rem 0.5rem;
}

.single-post h2:before {
  content: "##";
  color: #f85552;
  top: 0;
  left: 0;
  margin-right: 0.5rem;
}
.single-post h3:before {
  content: "###";
  color: #f85552;
  top: 0;
  left: 0;
  margin-right: 0.5rem;
}
.single-post .post__meta {
  color: #df69ba;
}

.post__meta {
  font-size: 14px;
}

.golang {
  color: black;
  background-color: #69d6e4;
}

.powershell {
  color: white;
  background-color: #073b4c;
}

.windows {
  color: black;
  background-color: #43aa8b;
}

.azure {
  background-color: #3a86ff;
  color: white;
}

.javascript {
  background-color: #ffd166;
  color: black;
}

.servicenow {
  background-color: #264653;
  color: #ffffff;
}

.highlight pre {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  overflow: auto;
  word-wrap: normal;
  word-break: normal;
  border: 1px solid #df69ba;
  border-radius: 8px;
}

code[class*=language-],
pre[class*=language-] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
}

footer {
  text-align: center;
  padding: 5.5rem 1rem 4rem 1rem;
}

@media only screen and (max-width: 925px) {
  header {
    grid-template-columns: 1fr;
  }

  hr {
    margin: 0.5rem 1rem 2rem 1rem;
  }

  .container {
    padding: 0 1.5rem;
  }

  .page-title {
    text-align: center;
  }

  .main-nav {
    justify-content: center;
  }

  .introduction {
    grid-template-columns: 1fr;
  }

  .post-list {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .single-post h1 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
