/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-deep-blue: #110077;
  --color-deep-violet: #10002b;
  --color-light-blue: #77ffff;
  --color-pink: #ff30cc;
  --color-purple: #9900ff;
  --color-yellow: #fcf75e;
  --text-color: #ffffff;
  --page-width: 850px;
}

body {
  background: #240046;
  background: radial-gradient(circle, #240046 0%, #10002b 100%);
  color: var(--text-color);
  line-height: 1.6;
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
  margin-bottom: 1rem;
}

h2,
h3 {
  padding-top: 2rem;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

p,
pre {
  margin-bottom: 1.5rem;
}

a {
  color: var(--color-light-blue);
}

hr {
  max-width: var(--page-width);
  color: var(--color-pink);
  margin: 4rem auto 5.5rem auto;
  padding: 0 1rem;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1.5rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 1.5rem;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 0;
}

table {
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
  border-collapse: separate;
  overflow-x: scroll;
}
table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}
table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
table td,
table th {
  border: 1px solid var(--color-pink);
  border-style: none solid solid none;
  padding: 1rem;
}
table tr:first-child th {
  border-top-style: solid;
}
table tr td:first-child,
table tr th:first-child {
  border-left-style: solid;
}
table tr:nth-child(odd) td {
  background: #2f005b;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-light-blue);
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
  max-width: var(--page-width);
  margin: 0 auto 3rem auto;
}

.page-title {
  color: var(--color-yellow);
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0;
}
.page-title:hover {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main-nav {
  display: flex;
  justify-content: end;
  column-gap: 1rem;
}
.main-nav__item {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-pink);
  border-radius: 8px;
  color: var(--color-pink);
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  transition: all 0.2s ease-in-out;
}
.main-nav__item:hover {
  background-color: var(--color-pink);
  color: white;
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1.5rem;
}
.introduction__image {
  justify-self: center;
  align-self: center;
  height: 150px;
  border-radius: 100%;
  border: 5px solid var(--color-light-blue);
}
.introduction__content {
  align-self: center;
}
.introduction__title {
  margin-bottom: 1.1rem;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: space-evenly;
}

.post {
  background-color: #240046;
  padding: 1rem;
  border: 1px solid #3c1559;
  border-radius: 8px;
}
.post:hover, .post:active {
  cursor: pointer;
  border-color: var(--color-pink);
}

.post__title {
  font-size: 18px;
  padding-top: 0;
}

.post__title a {
  color: white;
  text-decoration: none;
  position: relative;
  padding-left: 20px;
}
.post__title a:before {
  content: "#";
  height: 100%;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.post:hover .post__title a,
.post:active .post__title a {
  text-decoration: underline;
}

.post__categories {
  list-style: none;
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 0;
}

.post__categories-item {
  font-size: 14px;
  padding: 0.1rem 0.5rem;
}

.golang {
  color: black;
  background-color: #69d6e4;
}

.powershell {
  color: white;
  background-color: #073b4c;
}

.windows {
  color: black;
  background-color: #43aa8b;
}

.azure {
  background-color: #3a86ff;
  color: white;
}

.javascript {
  background-color: #ffd166;
  color: black;
}

.servicenow {
  background-color: #264653;
  color: #ffffff;
}

.single-post .post__meta {
  color: #7d529b;
}

.post__meta {
  font-size: 14px;
}

.highlight pre {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  overflow: auto;
  word-wrap: normal;
  word-break: normal;
  border: 1px solid var(--color-pink);
  border-radius: 8px;
}

code[class*=language-],
pre[class*=language-] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
}

footer {
  text-align: center;
  padding: 5.5rem 1rem 4rem 1rem;
}

@media only screen and (max-width: 580px) {
  body {
    font-size: 16px;
  }

  header {
    grid-template-columns: 1fr;
  }

  hr {
    margin: 0.5rem 1rem 2rem 1rem;
  }

  .container {
    padding: 0 1.5rem;
  }

  .page-title {
    text-align: center;
  }

  .main-nav {
    justify-content: center;
  }

  .introduction {
    grid-template-columns: 1fr;
  }

  .introduction__content {
    text-align: justify;
  }

  .post-list {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
