<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ if .IsHome -}}{{ .Site.Title }}{{- else -}}{{ .Title }} – {{ .Site.Title }}{{- end }}</title>
    <meta name="title"
        content="{{ if .IsHome -}}{{ .Site.Title }}{{- else -}}{{ .Title }} – {{ .Site.Title }}{{- end }}" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <main id="main-content">
        <div class="page-content">
            <header>
                <a href="/">
                    <img class="avatar" src="/images/profile_image.jpg" alt="Avatar" size="50x50" />
                    <p>Mads Moi-Aune</p>
                </a>
            </header>

            {{ block "main" . }} {{ end }}

        </div> <!-- end .page-content -->
    </main> <!-- end .main -->
</body>

</html>
