{{ define "main" }}

<article class="post">
    <header>
        <h1>{{.Title}}</h1>
        <p class="post__meta">
            {{.Date.Format "02 January, 2006"}} | {{ .WordCount }} words | <a
                href="https://raw.githubusercontent.com/moiaune/moiaune.dev/main/content/posts/{{.File.LogicalName}}">View
                Raw</a> | <a
                href="https://github.com/moiaune/moiaune.dev/commits/main/content/posts/{{.File.LogicalName}}">History</a>
        </p>
    </header>

    <div class="post__content">
        {{.Content}}
    </div>
</article>

<hr />

<aside class="introduction">
    <div class="introduction__content">
        <p>
            I'm an DevOps Engineer from Norway, spending my days writing code. I
            created this site as a personal notebook, but hopefully you will find
            something interresting too.
        </p>
        <p>
            You can reach me at
            <a href="https://twitter.com/{{.Site.Params.Twitter}}">@{{.Site.Params.Twitter}}</a>
        </p>
    </div>
</aside>

{{ end }}
