{{ define "main" }}

<aside class="introduction">
    <div class="introduction__content">
        <p>
            I'm an DevOps Engineer from Norway, spending my days writing code. I
            created this site as a personal notebook, but hopefully you will find
            something interresting too.
        </p>
        <p>
            You can reach me at
            <a href="https://twitter.com/{{.Site.Params.Twitter}}">@{{.Site.Params.Twitter}}</a>
        </p>
    </div>
</aside>

<hr />

<section>
    {{ range.Site.RegularPages }}
    <article class="post post--list">
        <header>
            <div class="post__date">
                <span>{{.Date.Format "January 2, 2006"}}</span>
            </div>

            <h3 class="post__title">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </h3>
        </header>

        <div class="post__content">
            <p>{{ .Summary }}</p>

            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read more ...</a>
            {{ end }}
        </div>
    </article>
    {{ end }}
</section>

{{ end }}
