:root {

    /*
   * THEME: GRUVBOX
   * URL: https://github.com/morhetz/gruvbox
   */

    // --color-bg: #282828;
    // --color-bg-0h: #1d2021;
    // --color-bg-1: #3c3836;
    // --color-bg-2: #504945;
    // --color-bg-3: #665c54;
    // --color-bg-4: #7c6f64;

    // --color-fg: #ebdbb2;
    // --color-fg-0: #fbf1c7;
    // --color-fg-1: #ebdbb2;
    // --color-fg-2: #d5c4a1;
    // --color-fg-3: #bdae93;
    // --color-fg-4: #a89984;

    // --color-red: #cc241d;
    // --color-red-bright: #fb4934;
    // --color-green: #98971a;
    // --color-green-bright: #b8bb26;
    // --color-yellow: #d79921;
    // --color-yellow-bright: #fabd2f;
    // --color-blue: #458588;
    // --color-blue-bright: #83a598;
    // --color-purple: #b16286;
    // --color-purple-bright: #d3869b;
    // --color-aqua: #689d6a;
    // --color-aqua-bright: #8ec07c;
    // --color-gray: #928374;
    // --color-gray-medium: #928374;
    // --color-gray-bright: #a89984;
    // --color-orange: #d65d0e;
    // --color-orange-bright: #fe8019;

}

$font-size: 16px;
$page-width: 750px;
$color-fg: #0C0C0D;
$color-bg: #f0f8ff;
$color-black: #000000;
$color-red: #D70222;
$color-green: #2F9624;
$color-yellow: #BE9B00;
$color-blue: #0060DF;
$color-purple: #7F1BD7;
$color-cyan: #0074E8;
$color-white: #FFFFFF;

$color-black-light: #000000;
$color-red-light: #FCF2F5;
$color-green-light: #19C117;
$color-yellow-light: #FEFBD6;
$color-blue-light: #0060DF;
$color-purple-light: #7F1BD7;
$color-cyan-light: #0074E8;
$color-white-light: #FFFFFF;



body {
    background: $color-bg;
    color: $color-fg;
    line-height: 1.687;
    font-family: -apple-system, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.625rem;
}

h2 {
    padding-top: 1rem;
    font-size: 2.0625rem;
}

h3 {
    padding-top: 1rem;
    font-size: 1.625rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8125rem;
}

p,
pre {
    margin-bottom: 1.5rem;
}

pre {
    border: 1px solid $color-purple;
    padding: 1rem;
    border-radius: 8px;
}

a {
    color: $color-blue;

    &:hover {
        color: $color-cyan;
    }
}

hr {
    max-width: $page-width;
    color: $color-cyan;
    margin: 2rem auto 2rem auto;
    padding: 0 1rem;
}

ul {
    list-style: none;
    list-style-position: inside;
    margin-bottom: 1.5rem;

    & li:before {
        content: "*";
        color: $color-red;
        margin-right: .5rem;
    }
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 1.5rem;
}

ul,
ol {
    color: $color-fg;
    font-size: 1rem;
    padding-left: 1.5rem;
}

ul ul,
ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 1rem;
    margin-bottom: 0;
}

ol ol,
ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 1rem;
    margin-bottom: 0;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid $color-fg;

    td,
    th {
        border: 1px solid $color-fg;
        padding: .5rem;
    }

    tr:first-child th {
        border-top-style: solid;
    }

    tr td:first-child,
    tr th:first-child {
        border-left-style: solid;
    }

    tr:nth-child(odd) td {
        background: lighten($color-bg, 20%);
    }
}

// force a lighter background on gruvbox syntax theme
.highlight {
    background-color: lighten($color-bg, 10%);

    & * {
        background-color: lighten($color-bg, 10%) !important;
    }

    & .ln {
        margin-right: 1rem;
    }
}

code {
    font-size: $font-size - 2px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: $color-fg;
}

blockquote {
    padding: 1.2rem 1rem;
    background: $color-bg;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border-left: 5px solid $color-green;

    & * {
        color: $color-fg !important;
    }

    & ul li:before {
        content: '';
        margin-right: 0;
    }

    & *:last-child {
        margin-bottom: 0;
    }
}

section {
    display: grid;
    row-gap: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border: 1px solid $color-blue;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.page-content {
    max-width: $page-width;
    margin: 0 auto;
    padding: 1rem;

    &>header {
        a {
            color: $color-black;
            text-decoration: none;
            display: grid;
            justify-items: center;
            row-gap: .5rem;

            & img {
                width: 50px;
                border-radius: 50%;
            }

            & p {
                font-size: 1.5rem;
            }
        }
    }
}

.introduction {
    &__content {
        text-align: center;
    }
}

.post {
    padding: 1rem;

    header {
        text-align: center;
    }

    &--list {
        background: $color-white;
        border-radius: 8px;
        text-align: center;
    }

    &__meta {
        font-size: 14px;
    }

    &__title {
        font-size: 1.8rem;
        padding-top: 0;

        & a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.highlight pre {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    overflow: auto;
    word-wrap: normal;
    word-break: normal;
    border: 1px solid $color-purple;
    border-radius: 8px;
}

code[class*='language-'],
pre[class*='language-'] {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    // font-size: 1rem;
    font-size: $font-size - 2px;
}

.footnotes p {
    display: inline;
}

@media only screen and (max-width: 925px) {
    hr {
        margin: 0.5rem 1rem 2rem 1rem;
    }

    .container {
        padding: 0 1.5rem;
    }

    .post-list {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .single-post h1 {
        font-size: 2rem;
    }
}
