:root {

  /*
   * THEME: GRUVBOX
   * URL: https://github.com/morhetz/gruvbox
   */

  --color-bg: #282828;
  --color-bg-0h: #1d2021;
  --color-bg-1: #3c3836;
  --color-bg-2: #504945;
  --color-bg-3: #665c54;
  --color-bg-4: #7c6f64;

  --color-fg: #ebdbb2;
  --color-fg-0: #fbf1c7;
  --color-fg-1: #ebdbb2;
  --color-fg-2: #d5c4a1;
  --color-fg-3: #bdae93;
  --color-fg-4: #a89984;

  --color-red: #cc241d;
  --color-red-bright: #fb4934;
  --color-green: #98971a;
  --color-green-bright: #b8bb26;
  --color-yellow: #d79921;
  --color-yellow-bright: #fabd2f;
  --color-blue: #458588;
  --color-blue-bright: #83a598;
  --color-purple: #b16286;
  --color-purple-bright: #d3869b;
  --color-aqua: #689d6a;
  --color-aqua-bright: #8ec07c;
  --color-gray: #928374;
  --color-gray-medium: #928374;
  --color-gray-bright: #a89984;
  --color-orange: #d65d0e;
  --color-orange-bright: #fe8019;

  --font-size: 18px;
  --text-color: var(--color-fg);
  --page-width: 910px;
}

body {
  background: var(--color-bg);
  color: var(--text-color);
  line-height: 1.6;
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  // font-family: 'JetBrains Mono', monospace;
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: var(--font-size);
  color: var(--color-yellow-bright);
}

h1 {
  font-size: 2.5rem;
}

h2,
h3 {
  padding-top: 1rem;
  font-weight: 900;
  font-size: 1.2rem;
}

h4,
h5 {
  font-weight: 900;
  font-size: 1rem;
}

p,
pre {
  margin-bottom: 1.5rem;
}

a {
  color: var(--color-gray-bright);

  &:hover {
    color: var(--color-fg-2);
  }

  &:before {
    content: "[";
    color: var(--color-yellow-bright);
  }

  &:after {
    content: "]";
    color: var(--color-yellow-bright);
  }
}

hr {
  max-width: var(--page-width);
  color: var(--color-pink);
  margin: 2rem auto 2rem auto;
  padding: 0 1rem;
}

ul {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 1.5rem;

  & li:before {
    content: "*";
    color: var(--color-gray);
    margin-right: .5rem;
  }

  li a {
      color: inherit;
  }
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 1.5rem;
}

ul, ol {
  color: var(--color-green);
  font-size: 1rem;
  padding-left: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 0;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color-fg);

  td,
  th {
    border: 1px solid var(--color-fg);
    padding: .5rem;
  }

  tr:first-child th {
    border-top-style: solid;
  }

  tr td:first-child,
  tr th:first-child {
    border-left-style: solid;
  }

  tr:nth-child(odd) td {
    background: var(--color-bg-2);
  }
}

// force a lighter background on gruvbox syntax theme
.highlight {
  background-color: var(--color-bg-1);

  & * {
    background-color: var(--color-bg-1) !important;
  }
}

code {
    color: var(--color-orange-bright);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-light-blue);
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  max-width: var(--page-width);
  margin: 0 auto 3rem auto;
}

.page-title {
  margin-bottom: 0;
}

.main-nav {
  display: flex;
  justify-content: end;
  column-gap: .5rem;

  &__item {
    display: inline-block;
    padding: 0.5rem .5rem;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
  }
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.introduction {
  &__title {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: var(--color-fg);
  }
}

.post-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
}

.post__title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.post__title a {
  color: var(--color-fg);
  text-decoration: none;
  position: relative;

  &:hover {
    text-decoration: underline;
  }

  &:before,
  &:after {
    content: "";
  }

  & .hashtag {
    color: var(--color-gray);
  }

  & .date {
    color: var(--color-yellow-bright);
  }
}

.post__categories {
  list-style: none;
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 0;
}

.post__categories-item {
  font-size: 14px;
  padding: 0.1rem 0.5rem;
}

.single-post {

  & h2 {
    &:before {
      content: "##";
      color: var(--color-gray);
      top: 0;
      left: 0;
      margin-right: .5rem;
    }
  }

  & h3 {
    &:before {
      content: "###";
      color: var(--color-gray);
      top: 0;
      left: 0;
      margin-right: .5rem;
    }
  }

  & .post__meta {
    color: var(--color-yellow-bright);
  }
}

.post__meta {
  font-size: 14px;
}

.golang {
  color: black;
  // background-color: #118ab2;
  background-color: #69d6e4;
}

.powershell {
  color: white;
  background-color: #073b4c;
}

.windows {
  color: black;
  background-color: #43aa8b;
}

.azure {
  background-color: #3a86ff;
  color: white;
}

.javascript {
  background-color: #ffd166;
  color: black;
}

.servicenow {
  background-color: #264653;
  color: #ffffff;
}

.highlight pre {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  overflow: auto;
  word-wrap: normal;
  word-break: normal;
  border: 1px solid var(--color-pink);
  border-radius: 8px;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
}

footer {
  text-align: center;
  padding: 5.5rem 1rem 4rem 1rem;
}

@media only screen and (max-width: var(--page-width)) {
  header {
    grid-template-columns: 1fr;
  }

  hr {
    margin: 0.5rem 1rem 2rem 1rem;
  }

  .container {
    padding: 0 1.5rem;
  }

  .page-title {
    text-align: center;
  }

  .main-nav {
    justify-content: center;
  }

  .introduction {
    grid-template-columns: 1fr;
  }

  .post-list {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .single-post h1 {
      font-size: 2rem;
  }
}
